.dart_tool/
.build/
.packages
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugins-dependencies
*.iml
.idea/
.git/
.gitignore
.android/
.build/
android/
ios/
linux/
macos/
windows/
pubspec.lock
build/
